.head__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    color: #2E363E;
    padding: 20px 370px 80px 464px;
}

.products-girds {
    display: grid;
    grid-template-columns:380px 380px 380px;
    grid-template-rows:582px 582px 582px;
    gap: 20px;
    padding: 140px 370px 20px 370px;
}

.product-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #F2F6FA;
}

.product-card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 143%;
    padding: 50px 89px 12px 44px;
    color: #2E363E;
}

.product-card__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #2E363E;
    padding: 0px 96px 24px 44px;
}

.product-card__price {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #434B53;
    padding: 0px 228px 14px 44px;
}

.product-card__btn {
    padding: 20px 40px 20px 40px;
    color: #2E363E;
    background-color: #FED84C;
    border-radius: 8px;
    border: none;
    margin-left: 44px;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;

}